
#contact {
    
    color: white;
    background-image: url('images/typewriter.jpeg');
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 1px;

    header {
        background-color: #212121;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
      }
      img {
          height: 60%;
      }
    
    h2 {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.322);
        padding: 5px;
    }

    p {
        margin: 0px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .contactTitle {
        margin-top: 10px;
    }

    .emailLink:hover {
        color: #5092E4
    }

    .contactLink {
        position: relative;
        left: 10px
    }

    .flexContainer {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    .contacts {
        position: relative;
        top: 43px;
        margin-left: 10px;

    }

    button {
        border-radius: 5px;
        border: 2px solid rgba(0, 0, 0, 0.384);
        margin-top: 20px;
        padding: 5px;
        width: 60%;
        font-size: 14px;
        background-color: #FFFFFF; 
    }

    button:hover {
        border: 2px solid #212121;
        background-color: rgb(224, 224, 221);
    }
   
}

