#menu {
    header {
        background-color: #212121;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
      }
      img {
          height: 60%;
      }
      p {
        text-align: center;
        }
}


#foodmenu {
    background-color: gray;

    p {
        text-align: center !important;
    }
}

#drinks, #brunch, #smallPlates, #saladItems, #sandwichItems, #entreeItems, #dessertItems {
    padding-bottom: 100px;
    text-align: center;

    h3 {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.048);
        
    }

    .cocktailList, .brunchList, .plateList, .saladList, .sandwichList {
        margin: auto 250px;
    }

    p {
        font-size: 22px;
        margin-bottom: -5px;
        padding-bottom: 5px;
    }

    span {
        font-size: 13px;
        color: gray;
        font-style: italic;
    }
}

#brunch {
    div.brunchList {
        display: flex;
        justify-content: center;

        img {
            opacity: .3
        }
    }
}

