#loader {
    height: 600px;
    display: flex;
    justify-content: center;

    svg {
        height: 70%;
        margin-top: 125px;

    }

    .orb path {
        color: gray;
        stroke: gray;
        fill: gray;
        animation: loader;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: forwards;
        
    }

    @keyframes loader {
        0% {
            transform: rotate(0deg);
            transform-origin: 50% 50%;
        }
        
        100% {
            transform: rotate(360deg);
            transform-origin: 50% 50%;
        }
    }
    
}