
#navigation {

    a {
        color: white;
        text-decoration: none;
        decoration: none;
        margin: 20px;
    }

    a:hover {
        color: grey;
    }

    img {
        height: 30px;
    }

}

